#main-title {
    margin-top: 10px;
    text-align: center;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;

    background-color: #333;
}


.container{
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#currency-form{
    display: flex;
    flex-direction: row;
    gap: 15px;
}